<ul>
<li>Jepeto de Rajoy</li>
<li>Explicación</li>
<li>Redes sociales</li>
<li>Feed</li>
</ul>

<%= link_to "votar", new_vote_path %>

<ul id="comments">
  <%= render @comments %>
</ul>

<div id="pagination">
  <%= link_to_next_page @comments, 'Ver más', remote: true %>
</div>

<%= link_to "Compartir en Facebook", 'http://www.facebook.com/share.php?u=dimisionrajoy.com',             display_in_popup %>
<%= link_to "Compartir en Twitter", "https://twitter.com/share?url=dimisionrajoy.com&text=#{share_text}", display_in_popup %>
